<html>
<head>
    <script type="module">
        import { start } from "../static/main.js";
        import { playing, uploadAudio, startAudio, stopAudio } from "../static/audio.js";
        import { uploadChart } from "../static/chart.js";

        document.querySelector("#button_play").addEventListener("click", (event) => { startAudio(document.getElementById("startTime").value)});
        document.querySelector("#button_stop").addEventListener("click", (event) => { stopAudio() });

        document.getElementById("audio_upload").addEventListener("change", uploadAudio);
        document.getElementById("chart_upload").addEventListener("change", uploadChart);

        start(document.getElementById("lane").getContext("2d"));
    </script>

    <style type="text/css">
        body{
            margin: 0px;
        }
        #container{
            display:flex;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="controls">
            <form id="upload">
                <div>Audio Upload</div>
                <input type="file" value="Select Audio" id="audio_upload" />

                <div>Load Chart</div>
                <input type="file" value="Load Chart" id="chart_upload" />
            </form>
            
            <input type="button" value="Play" id="button_play"/>
            <input type="button" value="Stop" id="button_stop"/>
            
            <div>
                <input type="number" value="0" id="startTime" /> 
                Start From Beat
            </div>
            <div>
                <input type="number" value="120" id="bpmInput" /> 
                BPM
            </div>
            <div>
                <input type="number" value="0" id="current_tick" />
                今Tick
            </div>
            <div>
                <input type="number" value="1" id="tick_height" />
                Tick height
            </div>
            <hr>
            <div>
                <input type="number" value="573" id="boopfreq" /> 
                Boop frequency 
            </div>
            
            <div>
                <input type="number" value="5730" id="port" /> 
                API Port
            </div>
        </div>
        <div id="lane_area">
            <canvas id="lane" width="640" height = "480"></canvas>
        </div>        
    </div>
</body>
</html>
