<html>
<head>

    <script>
        var debug = true;

        var viewport_x = window.innerWidth; 
        var viewport_y = window.innerHeight; 
        
        var colors = {"lane_bg": "#eeeeee", "lane_pulse": "#eeeeff"};
        var dimensions = {"lane_w": 600};

        addEventListener("resize", (event) => { 
            viewport_x = window.innerWidth; 
            viewport_y = window.innerHeight; 
            if (debug) console.log("viewport is " + viewport_x + " " + viewport_y)
        });

        function drawLane(elementId){
            let canvas = document.getElementById(elementId);
            let context = canvas.getContext("2d");
        
            context.fillStyle = colors["lane_bg"];
            context.fillRect(0, 0, dimensions.lane_w, viewport_y); 
        
            context.moveTo(dimensions.lane_w / 4, 0);
            context.lineTo(dimensions.lane_w / 4, viewport_y);
            context.stroke();
        
            context.moveTo(dimensions.lane_w / 2, 0);
            context.lineTo(dimensions.lane_w / 2, viewport_y);
            context.stroke();
            
            context.moveTo((dimensions.lane_w / 4) * 3, 0);
            context.lineTo((dimensions.lane_w / 4) * 3, viewport_y);
            context.stroke();
        }
        
        let lastDt = 0;
        let lastTimestamp = 0;
        function step(dt){
            let canvas = document.getElementById("lane");
            let context = canvas.getContext("2d");
            let audioVisualDiff = 0;

            context.canvas.height = viewport_y;
            drawLane("lane"); 

            let beatWindow = viewport_y

            //if the chart is playing, update the timestamp automatically
            //audioContext is null before script.js is initialized and undefined after
            //if (audioContext != null && audioContext != undefined && playing){
            if (playing){
                //contextTime reports the time since the audio began playing, not from the audio file's 0:00 position
                timestamp = parseInt(lastStartTime) + audioContext.getOutputTimestamp()["contextTime"] + baseAudioOffset();
                
                audioVisualDiff = (dt - lastDt)*(1/1000) - (timestamp - lastTimestamp); 
                
                //console.log({"dt": dt-lastDt, "audio dt": (timestamp - lastTimestamp)*1000, "audioVisualDiff": audioVisualDiff, "timestampMS": timestamp * 1000});
                //console.log({"outputLatency": audioContext.outputLatency, "baseLatency": audioContext.baseLatency});
            }

            if (debug){
                context.fillStyle = "red";
                context.font = "20px Arial";
                context.fillText("timestamp:" + timestamp + audioVisualDiff, 0, 20); 
                context.fillText("beat:" + beatAt(timestamp + audioVisualDiff), 0, 40);
            }

            lastDt = dt;
            lastTimestamp = timestamp;
            requestAnimationFrame(step);
        }
    </script>

    <style type="text/css">
        #container{
            display:flex;
        }
        
    </style>
</head>
<body>
    <div id="container">
        <div id="controls">
            <form id="upload">
                <div>Audio Upload</div>
                <input type="file" value="Select Audio" id="audio_upload" />

                <div>Load Chart</div>
                <input type="file" value="Load Chart" id="chart_upload" />
            </form>
            
            <input type="button" value="Play" id="play" onclick="play(document.getElementById('startTime').value)" />
            <input type="button" value="Stop" id="stop" onclick="stop()"/>
            
            <div>
                <input type="number" value="0" id="startTime" /> 
                Start From Beat
            </div>
            <div>
                <input type="number" value="120" id="bpmInput" /> 
                BPM
            </div>
        </div>
        <div id="lane_area">
            <canvas id="lane" width="640" height = "480"></canvas>
        </div>        
    </div>

    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
    <script>
        let canvas = document.getElementById("lane");
        let context = canvas.getContext("2d");
    
        step();
    </script> 
</body>
</html>
