<html>
<head>

    <script>
        var debug = true;

        var viewport_x = window.innerWidth; 
        var viewport_y = window.innerHeight; 
        
        var colors = {"lane_bg": "#eeeeee", "lane_pulse": "#eeeeff"};
        var dimensions = {"lane_w": 600};

        addEventListener("resize", (event) => { 
            viewport_x = window.innerWidth; 
            viewport_y = window.innerHeight; 
            if (debug) console.log("viewport is " + viewport_x + " " + viewport_y)
        });

        function drawLane(elementId){
            canvas = document.getElementById(elementId);
            context = canvas.getContext("2d");
        
            context.fillStyle = colors["lane_bg"];
            context.fillRect(0, 0, dimensions.lane_w, viewport_y); 
        
            context.moveTo(dimensions.lane_w / 4, 0);
            context.lineTo(dimensions.lane_w / 4, viewport_y);
            context.stroke();
        
            context.moveTo(dimensions.lane_w / 2, 0);
            context.lineTo(dimensions.lane_w / 2, viewport_y);
            context.stroke();
            
            context.moveTo((dimensions.lane_w / 4) * 3, 0);
            context.lineTo((dimensions.lane_w / 4) * 3, viewport_y);
            context.stroke();
        }
        
        let lastDt = 0;

        let beatWindow = viewport_y;

        let boop = true;

        let beatsElapsed = 0;
        let lastBeats = 0;
        
        function step(dt){
            if (playing){
                timestamp = audioContext.currentTime - audioContext.outputLatency - startOffset;
                beatsElapsed = timestamp * (bpm/60);

                if (boop){
                    if (Math.floor(beatsElapsed) - Math.floor(lastBeats) > 0){
                        boopcontext = new AudioContext();
                        clapsound = new OscillatorNode(boopcontext, { frequency: 659, type:"square"});

                        let gain = new GainNode(boopcontext, {gain: 0.08});
                        gain.connect(boopcontext.destination);

                        clapsound.connect(gain);

                        console.log("boop!");
                        clapsound.start();
                        clapsound.stop(0.07);
                    }
                    lastBeats = beatsElapsed;
                }

            }

            context.canvas.height = viewport_y;
            drawLane("lane");

            if (debug){
                context.fillStyle = "red";
                context.font = "20px Arial";

                //testing new
                context.fillText("timestamp" + timestamp, 0, 20);
                context.fillText("beat:" + beatsElapsed, 0, 40);
            }

            beatWindow = viewport_y

            lastDt = dt;
            requestAnimationFrame(step);
        }
    </script>

    <style type="text/css">
        #container{
            display:flex;
        }
        
    </style>
</head>
<body>
    <div id="container">
        <div id="controls">
            <form id="upload">
                <div>Audio Upload</div>
                <input type="file" value="Select Audio" id="audio_upload" />

                <div>Load Chart</div>
                <input type="file" value="Load Chart" id="chart_upload" />
            </form>
            
            <input type="button" value="Play" id="play" onclick="start_audio(document.getElementById('startTime').value)" />
            <input type="button" value="Stop" id="stop" onclick="stop()"/>
            
            <div>
                <input type="number" value="0" id="startTime" /> 
                Start From Beat
            </div>
            <div>
                <input type="number" value="120" id="bpmInput" /> 
                BPM
            </div>
        </div>
        <div id="lane_area">
            <canvas id="lane" width="640" height = "480"></canvas>
        </div>        
    </div>

    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
    <script>
        let canvas = document.getElementById("lane");
        let context = canvas.getContext("2d");
    
        step();
    </script> 
</body>
</html>
